In [1]:
24000

24000

In [2]:
24000 - 10000

14000

In [3]:
14000 - 5000

9000

In [5]:
salary = 24000
salary

24000

In [6]:
house_rent = 10000

food_exp = 5000

In [7]:
house_rent

10000

In [8]:
food_exp

5000

In [9]:
total_expense = house_rent + food_exp
total_expense

15000

In [10]:
savings = salary - total_expense
savings

9000

In [11]:
print("My savings in a year is:", savings)

My savings in a year is: 9000

In [12]:
course_fee = 299
num_of_months = 6

In [13]:
total_fee = course_fee * num_of_months

print(total_fee)

1794

In [14]:
num_1 = 2
num_2 = 2

In [15]:
print(num_1 + num_2)

4

In [17]:
total = num_1 + num_2

In [18]:
total

4

In [19]:
"day" + "light"

'daylight'

In [20]:
num_1 = 2
num_2 = "2"

In [21]:
num_1 + num_2

TypeError: unsupported operand type(s) for +: 'int' and 'str'

In [22]:
type(num_1)

int

In [23]:
type(num_2)

str

In [24]:
x = True
y = False

In [25]:
print('x and y is:', x and y)

x and y is: False

In [26]:
print('x and y is:', x or y)

x and y is: True

In [27]:
print('x and y is:', not x)

x and y is: False

In [28]:
print('x and y is:', not y)

x and y is: True

In [29]:
x = "awesome"
x

'awesome'

In [30]:
print("Python is " + x)

Python is awesome

In [31]:
x = "Python is "
y = "awesome "
z = x + y
print(z)

Python is awesome

In [32]:
a = z * 4
print(a)

Python is awesome Python is awesome Python is awesome Python is awesome

In [33]:
len(x)

10

In [34]:
len(z)

18

In [35]:
x = y = z = "Python"

print(x)
print(y)
print(z)

Python
Python
Python

In [36]:
b = x + y

b

'PythonPython'

In [37]:
x = y == z

#Evaluate the statement from right to left

print(x)

True

In [38]:
a, b, c = 5, 3.2, "Hello"

print(a)
print(b)
print(c)

5
3.2
Hello

In [39]:
color_a = 'Red'
color_b = 'Blue'

print(color_a, color_b)

Red Blue

In [41]:
color_c = color_a
print(color_a, color_b, color_c)

Red Blue Red

In [42]:
color_a = color_b
print(color_a, color_b, color_c)

Blue Blue Red